meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1')
title Document
link(rel='stylesheet', href='css/style.min.css')
header.dreamshare
  nav.dreamshare-top
    .dreamshare-top__but1
      h2 Log in
    .dreamshare-top__but
      p Sign up
    .dreamshare-top__logo
      h1 DREAMSHARE
  section.dreamshare-about
    .dreamshare-about__one
      h2 SHARE YOUR HOLIDAY DREAM
    .dreamshare-about__two
      h3 And find the perfect partner to fullfill it
    button.dreamshare-about__three
      p Find your holiday partner
main.wall
  section.travel
    .travel-how
      h2 How Dreamshare works?
    .travel-picture1
    .travel-picture2
    .travel-picture3
  section.meet
    .meet-texto
      h2
      | Meet a partner for your best holiday
    .meet-person1
    .meet-person2
    .meet-person3
    .meet-person4
    .meet-button
      button
        p See other partners
  section.discover
    .discover-text
      h2 Discover holiday activity ideas
    .discover-picture1
    .discover-picture2
    .discover-picture3
    .discover-picture4
    .discover-picture5
    .discover-picture6
    .discover-picture7
  section.crate
    .crate-text
      h2 Crate your holiday activity
    .crate-serchtext
      h2 Hi! What are your holiday interests?
    .crate-serch
      input(type='serch', placeholder='Enter your interests', required, size='30', minlength='2', maxlength='8')
      |  
      button
        p Search partners
footer.footer
  .footer-logo DREAMSHARE
  .footer-company
    h2 Company
    .Phonecompany
      a(href='#') About
      a(href='#') Contact
      a(href='#') Press
      a(href='#') Blog
      a#p1(href='#') Terms and Privacy
      a(href='#') Help
    table
      tbody
        tr
          td About
        tr
          td Contact
        tr
          td Press
        tr
          td Blog
        tr
          td Terms and Privacy
        tr
          td Help
  .footer-partners
    h2 Partners
  .footer-end
    h2 DESIGNED BY
    .footer-end__imege